<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/DestinationList.css">
    <script src="https://kit.fontawesome.com/feb8ff1e04.js" crossorigin="anonymous"></script>
    <title>@ViewBag.Title</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="@Url.Action("Index", "Home")"><img src="~/imagesIndex/LOGO_P2-05.png" alt="Logo"></a>
        </div>
        <nav class="navMenu">
            <ul>
                <li><a href="@Url.Action("List", "Destination")">Nos destinations</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="/User/Profile">Mon Profil <img src="~/images/profilIcon.png" /></a></li>
                    <li><a href="/User/LogOut">Déconnexion</a></li>
                    <li>
                        <a href="@Url.Action("List", "Booking")">
                            Mes réservations
                            <img src="~/images/cartResaIcon.png" />
                        </a>
                    </li>
                }
                else
                {
                    <li><a href="@Url.Action("LogIn", "User")">Connexion</a></li>
                    <li><a href="@Url.Action("AddCustomer", "User")">Inscription</a></li>
                    <li><a href="@Url.Action("AddPartner", "User")">Espace partenaires</a></li>
                }
            </ul>
        </nav>
    </header>

    <main>
        <section>
            @RenderSection("Content") <!-- Contenu spécifique à chaque page -->
        </section>
    </main>

    <footer>
        <div class="logoFooter">
            <a href="#Home"><img src="~/imagesIndex/LOGO_P2-05.png" alt="Logo"></a>
            <div>
                <span><a href="#"><i class="fa-brands fa-facebook"></i></a></span>
                <span><a href="#"><i class="fa-brands fa-instagram"></i></a></span>
                <span><a href="#"><i class="fa-brands fa-twitter"></i></a></span>
                <span><a href="#"><i class="fa-brands fa-tiktok"></i></a></span>
            </div>
        </div>
        <div id="navFooter">
            <nav class="navFooter">
                <ul>
                    <li class="navTitre">À propos de nous</li>
                    <li><a href="#"><p>Qui sommes nous</p></a></li>
                    <li><a href="#">Notre concept</a></li>
                    <li><a href="#">Nous rejoindre</a></li>
                </ul>
            </nav>
            <nav class="navFooter">
                <ul>
                    <li class="navTitre">Contacts</li>
                    <li><a href="#">Contactez-nous</a></li>
                    <li><a href="#">Presse</a></li>
                </ul>
            </nav>
            <nav class="navFooter">
                <ul>
                    <li class="navTitre">Informations légales</li>
                    <li><a href="#">Mentions légale</a></li>
                    <li><a href="#">Conditions générales de vente</a></li>
                    <li><a href="#">Gestion des consentements cookies</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>


