<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/feb8ff1e04.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Profils.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="@Url.Action("Index", "HomeController")"><img src="./Logos/LOGO_P2-05.png" alt="Logo"></a>
        </div>
        <nav class="navMenu">
            <ul>
                <li><a href="#">Nos offres</a></li>
                <li><a href="#">Notre concept</a></li>
                <li><a href="@Url.Action("List", "Destination")">Connexion</a></li>
                <li><a href="@Url.Action("SigninPage", "SigninSignup")">Connexion</a></li>
                <li><a href="@Url.Action("SignupPage", "SigninSignup")">Inscription</a></li>
            </ul>
        </nav>
    </header>

    <main>

        @RenderSection("Content") <!-- Contenu spécifique à chaque page -->

    </main>

    <footer>
            <div class="logoFooter">
                <a href="#Home"><img src="./Logos/LOGO_P2-05.png" alt="Logo"></a>
                <div>
                    <span><a href="#"><i class="fa-brands fa-facebook"></a></i></span>
                    <span><a href="#"><i class="fa-brands fa-instagram"></a></i></span>
                    <span><a href="#"><i class="fa-brands fa-twitter"></a></i></span>
                    <span><a href="#"><i class="fa-brands fa-tiktok"></a></i></span>
                </div>
            </div>
            <div id="navFooter">
                <nav class="navFooter">
                    <ul>
                        <li class="navTitre">À propos de nous</li>
                        <li><a href="#"><p>Qui sommes nous</p></a></li>
                        <li><a href="#">Notre concept</a></li>
                        <li><a href="#">Nous rejoindre</a></li>
                    </ul>
                </nav>
                <nav class="navFooter">
                    <ul>
                        <li class="navTitre">Contacts</li>
                        <li><a href="#">Contactez-nous</li>
                        <li><a href="#">Presse</a></li>
                    </ul>
                </nav>
                <nav class="navFooter">
                    <ul>
                        <li class="navTitre">Informations légales</li>
                        <li><a href="#">Mentions légale</a></li>
                        <li><a href="#">Conditions générales de vente</a></li>
                        <li><a href="#">Gestion des consentements cookies</a></li>
                    </ul>
                </nav>
            </div>
    </footer>
</body>
</html>
