@model LittleBigTraveler.Models.TravelClasses.Package

@{
    Layout = "_CreateTravelPackageLayout";
    ViewData["Title"] = "Voyage Surprise";
}

@section content {
    @*<h1 class="text-center">Voyage Surprise</h1>

    @if (Model == null)
    {
        <p>Aucun voyage surprise trouvé.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Destination</th>
                    <th>Description</th>
                    <th>Lieu de départ</th>
                    <th>Date de départ</th>
                    <th>Date de retour</th>
                    <th>Nombre de participant</th>
                    <th>Prix</th>
                    <th>Nombre de places disponibles</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Name</td>
                    <td>@Model.Travel.Destination.City, @Model.Travel.Destination.Country</td>
                    <td>@Model.Description</td>
                    <td>@Model.Travel.DepartureLocation</td>
                    <td>@Model.Travel.DepartureDate</td>
                    <td>@Model.Travel.ReturnDate</td>
                    <td>@Model.Travel.NumParticipants</td>
                    <td>@Model.Price</td>
                    <td>@Model.QuantityAvailable</td>
                    <td>
                        @foreach (var image in @Model.Travel.Destination.Images)
                        {
                            <img src="@image" alt="Image" class="img-thumbnail" />
                        }
                    </td>

                    <td>
                        <a href="/Package/EditPackage/@Model.Id" class="btn btn-primary">Modifier Package</a>
                        <a href="/Travel/ModifyTravel/@Model.Id" class="btn btn-secondary">Modifier Voyage</a>
                        <a href="/Package/DeletePackage/@Model.Id" class="btn btn-danger">Supprimer</a>
                        <a href="/Booking/Create?packageId=@Model.Id" class="btn btn-success">Select</a>

                    </td>
                </tr>
            </tbody>
        </table>
    }

    <div class="text-center mt-4">
        <a href="/Home/Index" class="btn btn-primary">Accueil</a>
    </div>*@




    <section id="sectionDestinationCards">
        <h1 class="text-center">Voyage Surprise</h1>

        @if (Model == null)
            {
            <p>Aucun voyage surprise trouvé.</p>
            }
            else
            {
    <div class="glassBorderBackground">

        <!--<div id="positionIntoSection">
            <div class="card-container">
                <div class="glassBorderCard">
                    <div class="card">
                        @foreach (var image in @Model.Travel.Destination.Images)
                        {
                            <img src="@image" alt="Image" class="card-img" />
                        }
                    </div>-->
                    @*<div class="card-body">
                        <h1 class="card-title">@Model.Destination.Country</h1>
                        <h3 class="card-sub">@Model.Destination.City</h3>
                        <p class="card-sub-title">@Model.Destination.Description</p>
                    </div>*@
                <!--</div>
            </div>
        </div>-->

        <div id="positionIntoSection">
            <div class="card-container">
                <div class="glassBorderCardOffers">
                    <div class="cardOffers">
                        <img src="@Model.Travel.Destination.Images[0]" class="card-img" />

                    </div>
                </div>
                <div class="glassBorderCardOffers">
                    <div class="cardOffers">
                        <img src="@Model.Travel.Destination.Images[1]" class="card-img" />

                    </div>
                </div>
                <div class="glassBorderCardOffers">
                    <div class="cardOffers">
                        <img src="@Model.Travel.Destination.Images[2]" class="card-img" />

                    </div>
                </div>
                <div class="glassBorderCardOffers">
                    <div class="cardOffers">
                        <img src="@Model.Travel.Destination.Images[3]" class="card-img" />

                    </div>
                </div>
                @*<div class="glassBorderCardOffers">
                    <div class="cardOffers">
                        <img src="@Model[9].Images[0]" class="card-img" />
                        <div class="cardOffers-body">
                            <h1 class="cardOffers-title">@Model[9].Country</h1>
                            <p class="cardOffers-sub-title">@Model[9].City</p>
                            <button class="cardOffers-btn">Réserver !</button>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>

    </div>

            <div class="bottomContainer">

                <div class="leftContainer">
                    <h3>Vos détails de réservation</h3>

                    <div class="userNameFirstname">

                        <div class="form-group">
                            <label class="label">Nom : </label>
                            <input required type="text" name="name" autocomplete="on"
                                   class="input" value="@Model.Name">
                        </div>
                        <div class="form-group">
                            <label class="label">Destination : </label>
                            <input required type="text" name="departureLocation" autocomplete="on"
                                   class="input" value="@Model.Travel.Destination.City, @Model.Travel.Destination.Country">
                        </div>
                        <div class="form-group">
                            <label class="label">Description : </label>
                            <input required type="text" name="departureLocation" autocomplete="on"
                                   class="input" value="@Model.Description">
                        </div>
                        <div class="form-group">
                            <label class="label">Lieu de départ : </label>
                            <input required type="text" name="departureLocation" autocomplete="on"
                                   class="input" value="@Model.Travel.DepartureLocation">
                        </div>
                        <div class="form-group">
                            <label class="label">Date de départ : </label>
                            <input required type="date" name="departureDate" autocomplete="on" class="input"
                                   value="@Model.Travel.DepartureDate">

                        </div>
                        <div class="form-group">
                            <label class="label">Date de retour : </label>
                            <input required type="date" name="returnDate" autocomplete="on" class="input"
                                   value="@Model.Travel.ReturnDate">
                        </div>
                        <div class="form-group">
                            <label class="label">Prix : </label>
                            <h3> @Model.Price €</h3>
                        </div>


                    </div>
                </div>

                <div class="rightContainer">
                    @if (User.IsInRole("Administrator"))
                        {
                        <a href="/Package/EditPackage/@Model.Id" class="modifBtnPackage">Modifier Package</a>
                        <a href="/Travel/ModifyTravel/@Model.Id" class="modifBtnTravel">Modifier Voyage</a>
                        <a href="/Package/DeletePackage/@Model.Id" class="deleteBtnSurprise">Supprimer</a>
                        }
                        <a href="/Booking/Create?packageId=@Model.Id" class="reservationBtn">Réservation</a>
                        @*<button type="submit" class="reservationBtn">Réservation</button>*@
                    </div>

            </div>
            }
            <div class="reservationBtn">
                <a href="/Home/Index">Accueil</a>
            </div>
        </section>
}