
@model List<LittleBigTraveler.Models.TravelClasses.Destination>

﻿@{
    Layout = "_DestinationLayout";
    ViewData["Title"] = "Nos destinations";
}

@section Content {
    <section id="sectionDestinationCards">
        <div class="glassBorderBackground">
            <div class="titlesZone">
                <h1 class="titreOffers">Nos destinations</h1>
            </div>
            <!--<div class="positionDSF">
                <form method="get" action="/Destination/FindDestinations">
                    <div class="destinationSearchField">
                        <input type="search" name="SearchBar" class="input" autocomplete="on" placeholder="Recherche de destinations par Pays ou Ville...">-->
                        <!--  <label class="searchLabel">Rechercher une destination</label> -->
                    <!--</div>
                    <div class="searchingBtn">
                        <button type="submit" class="card-btn-search">Rechercher</button>
                    </div>
                    <button class="glassIcon">
                        <span>
                            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                        </span>
                    </button>
                </form> 
            </div>-->
            <div id="positionIntoSection">
                <div class="card-container">
                    @foreach (var destination in Model)
                    {
                        <div class="glassBorderCard">
                            <div class="card">
                                @foreach (var image in destination.Images)
                                {
                                    <img src="@image" alt="Image" class="card-img" />
                                }
                            <div class="card-body">
                                <h1 class="card-title">@destination.Country</h1>
                                <h3 class="card-sub-title">@destination.City</h3>
                                <p class="card-sub-title">@destination.Description</p>
                                <a href="/Travel/CreateTravel?destinationId=@destination.Id"><button class="card-btn">Réserver !</button></a>
                                @if (User.IsInRole("Administrator"))
                                {
                                        <div class="divMod">
                                            <a href="/Destination/ChangeDestination/@destination.Id" class="card-btn">Modifier</a>
                                            <a href="/Destination/DeleteDestinations/@destination.Id" class="card-btn">Supprimer</a>
                                        </div>
                                    
                                }
                            </div>
                            </div>
                            @*@if (User.IsInRole("Administrator"))
                            {
                                <a href="/Destination/ChangeDestination/@destination.Id" class="card-btn">Modifier</a>
                                <a href="/Destination/DeleteDestinations/@destination.Id" class="card-btn">Supprimer</a>
                            }*@
                        </div>
                     }
                </div>
            </div>
        </div>
    </section>

    <section id="sectionBestCards">
        <div class="glassBorderBackground">
            <div class="titlesZone">
                <h1 class="titreOffers">Nos offres du moments !</h1>
                <h3 class="sousTitreOffers">Découvrez les sans plus tarder !</h3>
            </div>
            <div id="positionIntoSection">
                <div class="card-container">
                    <div class="glassBorderCardOffers">
                        <div class="cardOffers">
                            <img src="@Model[1].Images[0]" class="card-img" />
                            <div class="cardOffers-body">
                                <h1 class="cardOffers-title">@Model[1].Country</h1>
                                <p class="cardOffers-sub-title">@Model[1].City</p>
                                <button class="cardOffers-btn">Réserver !</button>
                            </div>
                        </div>
                    </div>
                    <div class="glassBorderCardOffers">
                        <div class="cardOffers">
                            <img src="@Model[6].Images[0]" class="card-img" />
                            <div class="cardOffers-body">
                                <h1 class="cardOffers-title">@Model[6].Country</h1>
                                <p class="cardOffers-sub-title">@Model[6].City</p>
                                <button class="cardOffers-btn">Réserver !</button>
                            </div>
                        </div>
                    </div>
                    <div class="glassBorderCardOffers">
                        <div class="cardOffers">
                            <img src="@Model[7].Images[0]" class="card-img" />
                            <div class="cardOffers-body">
                                <h1 class="cardOffers-title">@Model[7].Country</h1>
                                <p class="cardOffers-sub-title">@Model[7].City</p>
                                <button class="cardOffers-btn">Réserver !</button>
                            </div>
                        </div>
                    </div>
                    <div class="glassBorderCardOffers">
                        <div class="cardOffers">
                            <img src="@Model[14].Images[0]" class="card-img" />
                            <div class="cardOffers-body">
                                <h1 class="cardOffers-title">@Model[14].Country</h1>
                                <p class="cardOffers-sub-title">@Model[14].City</p>
                                <button class="cardOffers-btn">Réserver !</button>
                            </div>
                        </div>
                    </div>
                    @*<div class="glassBorderCardOffers">
                        <div class="cardOffers">
                            <img src="@Model[9].Images[0]" class="card-img" />
                            <div class="cardOffers-body">
                                <h1 class="cardOffers-title">@Model[9].Country</h1>
                                <p class="cardOffers-sub-title">@Model[9].City</p>
                                <button class="cardOffers-btn">Réserver !</button>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </section>

}
