@model List<LittleBigTraveler.Models.TravelClasses.Service>

@{
    Layout = "_DestinationLayout";
    ViewData["Title"] = "Liste des services";
}

@section content {
    <section id="sectionService">
        <h1 class="titreService">Liste des services</h1>

        @foreach (var service in Model)
        {
            <div class="info-row">

                <div class="info-item">
                    <h3>Nom :</h3>
                    <p>@service.Name</p>
                </div>
                <div class="info-item">
                    <h3>Prix :</h3>
                    <p>@service.Price €</p>
                </div>
                <div class="info-item">
                    <h3>Horaire :</h3>
                    <p>@service.Schedule</p>
                </div>
                <div class="info-item">
                    <h3>Emplacement :</h3>
                    <p>@service.Location</p>
                </div>
                <div class="info-item">
                    <h3>Type :</h3>
                    <p>@service.Type</p>
                </div>
                <div class="info-item">
                    <h3>Style :</h3>
                    <p>@service.Style</p>
                </div>
                @foreach (var image in service.Images)
                {
                    <div class="info-item">
                        <h3>Images :</h3>
                        <img src="@image" alt="Image" class="imgService" />
                    </div>
                }
                <div class="info-item">
                    <h3>Liens :</h3>
                    <p>@service.ExternalLinks</p>
                </div>
                @if (User.IsInRole("Administrator"))
                    {
                    <div class="info-item-admin">
                        <a href="/Service/ChangeService/@service.Id" class="modif">Modifier</a>
                        <a href="/Service/DeleteServices/@service.Id" class="delete">Supprimer</a>
                    </div>
                    }
                </div>
                }
            
        </section>
    }
