@model List<LittleBigTraveler.Models.TravelClasses.AllInclusiveTravel>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Liste des voyages tout compris";
}

@section content {
    <h1 class="text-center">Liste des voyages tout compris</h1>

    @if (Model.Count == 0)
    {
        <p>Aucun voyage tout compris trouvé.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Destination</th>
                    <th>Description</th>
                    <th>Lieu de départ</th>
                    <th>Date de départ</th>
                    <th>Date de retour</th>
                    <th>Nombre de participant</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var allInclusiveTravel in Model)
                {
                    <tr>
                        <td>@allInclusiveTravel.Name</td>
                        <td>@allInclusiveTravel.Travel.Destination.City, @allInclusiveTravel.Travel.Destination.Country</td>
                        <td>@allInclusiveTravel.Description</td>
                        <td>@allInclusiveTravel.Travel.DepartureLocation</td>
                        <td>@allInclusiveTravel.Travel.DepartureDate</td>
                        <td>@allInclusiveTravel.Travel.ReturnDate</td>
                        <td>@allInclusiveTravel.Travel.NumParticipants</td>
                        <td>
                            @foreach (var image in @allInclusiveTravel.Travel.Destination.Images)
                            {
                                <img src="@image" alt="Image" class="img-thumbnail" />
                            }
                        </td>

                        <td>
                            <a href="/AllInclusiveTravel/EditAllInclusiveTravel/@allInclusiveTravel.Id" class="btn btn-primary">Modifier Package</a>
                            <a href="/Travel/ModifyTravel/@allInclusiveTravel.Id" class="btn btn-secondary">Modifier Voyage</a>
                            <a href="/AllInclusiveTravel/DeleteAllInclusiveTravel/@allInclusiveTravel.Id" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <div class="text-center mt-4">
        <a href="/Home/IndexTEST" class="btn btn-primary">Accueil</a>
    </div>
}
