@model LittleBigTraveler.ViewModels.DestinationViewModel
@using LittleBigTraveler.ViewModels

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/feb8ff1e04.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Little Big Traveler</title>
    <link rel="stylesheet" href="~/css/Index.css">
</head>
<body>
    <!--Première partie de la page-->
    <header>
        <!--Barre de Navigation-->
        <!--  <div class="logo">
                 <a href="#Home"><img src="/Assets/Images/logoLBT.png" alt="Logo"></a>
             </div> -->
        <nav class="navMenu">
            <ul>
                <li><a href="#sectionThreeCards">Nos offres</a></li>
                <li><a href="#">Notre concept</a></li>
                <li><a href="@Url.Action("List", "Destination")">Nos destinations</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="/User/Profile">Mon Profil <img src="~/images/profilIcon.png"/></a></li>
                    <li><a href="/User/LogOut">Déconnexion</a></li>
                    <li><a href="@Url.Action("List", "Booking")">Mes réservations
                            <img src="~/images/cartResaIcon.png"/></a></li>
                }
                else
                {
                    <li><a href="@Url.Action("LogIn", "User")">Connexion</a></li>
                    <li><a href="@Url.Action("AddCustomer", "User")">Inscription</a></li>
                    <li><a href="@Url.Action("AddPartner", "User")">Espace partenaires</a></li>
                }
            </ul>
        </nav>
    </header>
    <main>



        @if (User.IsInRole("Administrator"))
        {
            <section class="zoneMenuAdmin">
                <nav class="borderGlassAdminMenu">
                    <ul>
                        <div class="zoneLiAdmin">
                            <a href="/Destination/AddDestination">
                        <li>Ajouter une destination</li>
                        </a>
                        <a href="/Destination/List">
                        <li>Voir liste de destination</li>
                        </a>
                        </div>

                        <div class="zoneLiAdmin">
                            <a href="/Service/AddService">
                        <li>Ajouter un service</li>
                        </a>
                        <a href="/Service/List">
                        <li>Voir liste de service</li>
                        </a>
                        </div>


                        <div class="zoneLiAdmin">
                            <a href="/Destination/List">
                        <li>Ajouter un package</li>
                        </a>
                        <a href="/Package/List">
                        <li>Voir liste des packages</li>
                        </a>
                        </div>

                        <div class="zoneLiAdmin">
                            <a href="/User/AddAdministrator">
                        <li>Ajouter un admin</li>
                        </a>
                        <a href="/User/List">
                        <li>Voir liste des users</li>
                        </a>
                        </div>

                    </ul>
                </nav>
            </section>
        }
        @if (User.IsInRole("Partner"))
        {
            <section class="zoneMenuAdmin">
                <nav class="borderGlassAdminMenu">
                    <ul>
                        <div class="zoneLiAdmin">
                            <a href="/Service/AddService">
                        <li>Ajouter un service</li>
                        </a>
                        <a href="/Service/List">
                        <li>Voir liste de service</li>
                        </a>
                        </div>
                    </ul>
                </nav>
            </section>
        }


        <section id="primaryPicture">
            <div class="flexbox">
                <div class="logo">
                    <a href="#"><img src="~/imagesIndex/logoLBT.png" alt="Logo"></a>
                </div>

            </div>

            <div class="sectionMultiSearch">
                <form method="get" action="/Package/SearchPackages">
                    <div class="multiSearch">

                        <input type="text" class="inputMulti" placeholder="Destination" name="destination">


                        <input type="number" class="inputMulti" placeholder="Mois de départ" name="departureMonth" min="1" max="12"
                               step="1" value="">


                        <input type="number" class="inputMulti" placeholder="Prix min" name="minPrice" step="0.01" value="">


                        <input type="number" class="inputMulti" placeholder="Prix max" name="maxPrice" step="0.01" value="">


                        <button type="submit" class="btnMulti">Rechercher</button>

                    </div>
                </form>
            </div>
        </section>


        <!--<section id="sectionBestCards">
            <div class="glassBorderOffersBackground">
                <div class="titlesZone">
                    <h1 class="titreOffers">Nos offres du moments !</h1>
                    <h3 class="sousTitreOffers">Découvrez les sans plus tarder !</h3>
                </div>
                <div id="positionIntoSection">
                    <div class="card-container">
                        <div class="glassBorderCardOffers">
                            <div class="cardOffers">
                                <img src="/images/krka-987021_1920.jpg" class="card-img" />
                                <div class="cardOffers-body">
                                    <h1 class="cardOffers-title">Voyage 1</h1>
                                    <p class="cardOffers-sub-title">Description 1</p>
                                    <button class="cardOffers-btn">Réserver !</button>
                                </div>
                            </div>-->
                            @*<div class="cardOffers">
                                <img src="@Model.Destinations[1].Images[0]" class="card-img" />
                                <div class="cardOffers-body">
                                    <h1 class="cardOffers-title">@Model.Destinations[1].Country</h1>
                                    <p class="cardOffers-sub-title">@Model.Destinations[1].City</p>
                                    <button class="cardOffers-btn">Réserver !</button>
                                </div>
                            </div>*@
                        <!--</div>
                        <div class="glassBorderCardOffers">
                            <div class="cardOffers">
                                <img src="/images/strasbourg-4988969_1920.jpg" class="card-img" />
                                <div class="cardOffers-body">
                                    <h1 class="cardOffers-title">Voyage 2</h1>
                                    <p class="cardOffers-sub-title">Description 2</p>
                                    <button class="cardOffers-btn">Réserver !</button>
                                </div>
                            </div>
                        </div>
                        <div class="glassBorderCardOffers">
                            <div class="cardOffers">
                                <img src="/images/vienna-933500_1280.jpg" class="card-img" />
                                <div class="cardOffers-body">
                                    <h1 class="cardOffers-title">Voyage 3</h1>
                                    <p class="cardOffers-sub-title">Description 3</p>
                                    <button class="cardOffers-btn">Réserver !</button>
                                </div>
                            </div>
                        </div>
                        <div class="glassBorderCardOffers">
                            <div class="cardOffers">
                                <img src="/images/santorini-1972883_1920.jpg" class="card-img" />
                                <div class="cardOffers-body">
                                    <h1 class="cardOffers-title">Voyage 4</h1>
                                    <p class="cardOffers-sub-title">Description 3</p>
                                    <button class="cardOffers-btn">Réserver !</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->

        <section class="sectionCaroussel">
            <div class="container">
                <div class="content">
                    <div class="introduce"></div>
                    <div class="thumbnail-list">
                        <div class="wrapper"></div>
                    </div>
                </div>

                <div class="navigation">
                    <button class="next-button">Suivant</button>
                    <span class="line"></span>
                    <span class="ordinal-number"> </span>
                </div>
            </div>
            <script src="~/js/index.js"></script>
        </section>
        <section id="sectionThreeCards">
            <div class="glassBorderBackground">
                <h1 class="titrePackage">NOS PACKAGES</h1>
                <div class="glassBorderCard">
                    <div class="card">
                        <img src="~/imagesIndex/img.jpg" class="card-img" />
                        <div class="card-body">
                            <h1 class="card-title">Voyage sur mesure</h1>
                            <p class="card-sub-title">Vos envies, votre découverte</p>
                            <p class="card-info">Vous avez la possibilité de customiser vous même votre propre voyage ! Transports, services, activités, vous êtes libre.</p>
                            <a href="@Url.Action("List", "Destination")"<button class="card-btn">Réserver !</button></a>
                        </div>
                    </div>
                </div>
                <div class="glassBorderCard">
                    <div class="card">
                        <img src="~/imagesIndex/img2.jpg" class="card-img" />
                        <div class="card-body">
                            <h1 class="card-title">All Inclusive</h1>
                            <p class="card-sub-title">Le voyage tout compris !</p>
                            <p class="card-info">Venez découvrir nos All Inclusive en adéquation avec vos envies !</p>
                            <a href="/Package/List"><button class="card-btn">Réserver !</button></a>
                        </div>
                    </div>
                </div>
                <div class="glassBorderCardSurprise">
                    <div class="card">
                        <img src="~/imagesIndex/img3.jpg" class="card-img" />
                        <div class="card-body">
                            <h1 class="card-title">Voyage surprise</h1>
                            <p class="card-sub-title">Laissez vous surprendre par nos propositions...</p>
                            <p class="card-info">
                                Envie de voyager mais vous n'avez pas d'idée de destination?
                                Tentez les expériences de nos voyages surprises...
                            </p>
                            <form method="post" action="/Package/CreateSurprisePackage">
                                <button type="submit" class="card-btn">Réserver !</button>
                            </form>
                        </div>

                        @*<div class="container">
                            <h2 class="text-center">Créer un voyage surprise</h2>
                            <form method="post" action="/Package/CreateSurprisePackage">
                                <button type="submit" class="btn btn-primary btn-lg">Créer un voyage surprise</button>
                            </form>
                        </div>*@

                    </div>
                </div>
            </div>
        </section>
        <section class="sectionProfileTeamLBT">
            <div class="cardProfile">
                <div class="imgBx">
                    <img src="~/imagesIndex/brendan.jpg" alt="Photo de profil" />
                </div>
                <div class="content">
                    <div class="details">
                        <h2>Brendan SIMON<br /><span>Développeur FullStack</span></h2>
                        <div class="data">
                            <p class="textDescriptionTeamLBT">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos necessitatibus placeat eveniet doloremque similique, reiciendis soluta voluptates?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cardProfile">
                <div class="imgBx">
                    <img src="~/imagesIndex/mounia.jpg" alt="Photo de profil" />
                </div>
                <div class="content">
                    <div class="details">
                        <h2>Mounia TAHAROUCHTE<br /><span>Développeur FullStack</span></h2>
                        <div class="data">
                            <p class="textDescriptionTeamLBT">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos necessitatibus placeat eveniet doloremque similique, reiciendis soluta voluptates?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cardProfile">
                <div class="imgBx">
                    <img src="~/imagesIndex/andre.jpg" alt="Photo de profil" />
                </div>
                <div class="content">
                    <div class="details">
                        <h2>Andre BASTOS<br /><span>Développeur FullStack</span></h2>
                        <div class="data">
                            <p class="textDescriptionTeamLBT">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos necessitatibus placeat eveniet doloremque similique, reiciendis soluta voluptates?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cardProfile">
                <div class="imgBx">
                    <img src="~/imagesIndex/david.jpg" alt="Photo de profil" />
                </div>
                <div class="content">
                    <div class="details">
                        <h2>David ESA<br /><span>Développeur FullStack</span></h2>
                        <div class="data">
                            <p class="textDescriptionTeamLBT">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos necessitatibus placeat eveniet doloremque similique, reiciendis soluta voluptates?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cardProfile">
                <div class="imgBx">
                    <img src="~/imagesIndex/fred.jpg" alt="Photo de profil" />
                </div>
                <div class="content">
                    <div class="details">
                        <h2>Frédéric DUPIN<br /><span>Développeur FullStack</span></h2>
                        <div class="data">
                            <p class="textDescriptionTeamLBT">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos necessitatibus placeat eveniet doloremque similique, reiciendis soluta voluptates?</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="logoFooter">
            <a href="@Url.Action("Index", "HomeController")"><img src="~/imagesIndex/logoLBT.png" alt="Logo"></a>
            <div class="icons">
                <span><a href="#"><i class="fa-brands fa-facebook"></a></i></span>
                <span><a href="#"><i class="fa-brands fa-instagram"></a></i></span>
                <span><a href="#"><i class="fa-brands fa-twitter"></a></i></span>
                <span><a href="#"><i class="fa-brands fa-tiktok"></a></i></span>
            </div>
        </div>
        <div id="navFooter">
            <nav class="navFooter">
                <ul>
                    <li class="navTitre">À propos de nous</li>
                    <li><a href="#"><p>Qui sommes nous</p></a></li>
                    <li><a href="#">Notre concept</a></li>
                    <li><a href="#">Nous rejoindre</a></li>
                </ul>
            </nav>
            <nav class="navFooter">
                <ul>
                    <li class="navTitre">Contacts</li>
                    <li><a href="#">Contactez-nous</li>
                    <li><a href="#">Presse</a></li>
                </ul>
            </nav>
            <nav class="navFooter">
                <ul>
                    <li class="navTitre">Informations légales</li>
                    <li><a href="#">Mentions légale</a></li>
                    <li><a href="#">Conditions générales de vente</a></li>
                    <li><a href="#">Gestion des consentements cookies</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>